<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/site.css" rel="stylesheet"/>
  <!-- <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  Primary Meta Tags
  <title>FileShare - Share your files with ease</title>
  <meta name="title" content="FileShare - Share your files with ease">
  <meta name="description"
    content="Nodejs powered File-sharing service. Just drop your file, get a shareable link instantly and share it via email. Files are stored for only 24 hours in server.">

  Open Graph / Facebook
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://share-my-file.herokuapp.com/">
  <meta property="og:title" content="FileShare - Share your files with ease">
  <meta property="og:description"
    content="Nodejs powered File-sharing service. Just drop your file, get a shareable link instantly and share it via email. Files are stored for only 24 hours in server.">
  <meta property="og:image" content="https://share-my-file.herokuapp.com/cover.png">

  <-- Twitter
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://share-my-file.herokuapp.com/">
  <meta property="twitter:title" content="FileShare - Share your files with ease">
  <meta property="twitter:description"
    content="Nodejs powered File-sharing service. Just drop your file, get a shareable link instantly and share it via email. Files are stored for only 24 hours in server.">
  <meta property="twitter:image" content="https://share-my-file.herokuapp.com/cover.png">

  <link rel="apple-touch-icon" href="/apple-icon.png">
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"> -->

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

 <div class="main">
    <h1 class="main_head">Simplified Share!! 
    <div class="roller">
      <span id="rolltext">Share<br/>
      Files<br/>
      Safely<br/>
      <span id="spare-time">Safe Share,Stay Safe</span><br/>
      </div>
      </h1>
    </div>

    <section class="headline_text">
       <p class="headline_black">Take your files every where
       </p>
       <p class="headline_blue">Safe</p>
    </section>

<div class="img_box">

  <img src="/img/file_sharing.jpg" alt="Error occured" width="450" height="450">

</div>

<!-- <div class="three_images">
  
  <div class="first_class">
    <i class="fa fa-solid fa-cloud fa-3x"></i>
    <br> <section class="text_1">Share <br>Anything, Anywhere, Anytime</section>
  </div>

  <div class="first_class">
    <i class="fa fa-solid fa-gear fa-3x"></i>
  </div>
  
  <div class="first_class">
    <i class="fa fa-solid fa-lock fa-3x"></i>
  </div>

</div> -->

<br>

<div class="three_box">

  <div class="first_box">
    <i class="fa fa-solid fa-cloud fa-3x"></i>
    <br>
      Share, Anything, Anywhere, Anytime
  </div>

  <div class="first_box">
    <i class="fa fa-solid fa-gear fa-3x"></i>
    <br>
    Share using, Email ID,<br> QR code or Link
  </div>

  <div class="first_box">
    <i class="fa fa-solid fa-lock fa-3x"></i>
    <br>
    Only those with link are worthy for your files
  </div>

</div>
  

  <!-- <div class="nine">
    <h1>File Transfer<span>Safe Share, Safe You</span></h1>
  </div> -->

  <!-- <div class="main">
    <h1 class="main_head">Simplified Share!! <div class="roller">
      <span id="rolltext">Share<br/>
      Files<br/>
      Safely<br/>
      <span id="spare-time">Safe Share,Stay Safe</span><br/>
      </div>
      </h1>
    </div>

  <div class="what_is_file">
    <div class="for_border">
      <h2 class="h_what_is_file" style="color:#95c9ff"> What is <span class="Simplifiedshare">Simplified Share? </span><br></h2> <br>
       <p class="para">In this fast growing world, almost every one needs to share some data with others, irrespective of their fields.So, carrying always a pendrive or hardisk is not possible for everyone everytime. And most of the people can not even afford to have such hardwares with them.  <br> <br>But almost every one is connected to 'WWW'(World Wide Web) and hence <span class="Simplifiedshare">Simplified Share</span> is an online website which is used to share files through online with others. Files can be of any types like images, zip folder, documents etc. that can be easily shared with others.</p>
    </div>      
  </div>

  <div class="why_how">
    
      <span class="why">
        <h2 style="color:#95c9ff" class="why_heading">Why to use <span class="Simplifiedshare">Simplified Share?</span></h2> <br>
        <p class="why_p">In today's generation almost everyone needs to send the files to each other, no matter what so
          ever field anyone works.During sharing files to anyone we need to expose our various private fields like
          either mobile number or E-mail, which makes our privacy to go lenient. Its important to maintain our privacy
          yet accomplishing the task of sharing files to various people. <br>
          <br>Thats why, <span class="Simplifiedshare">Simplified Share</span> makes it easy for you to keep your privicy safe. it wont let your Mobile Number
          or E-mail to get expose to other people and hence you can remain free from tension of privicy getting expose.
          Remember!!!
        </p> <br>
        <span class="why_p_s">
          <h3 class="why_punch" style="color: #ffcf00;">Want Safe Transfer!! <br> Just do <br> <span class="Simplifiedshare">Simplified Share</span>!!!</h3>
        </span>
      </span>

      <span class="how">
        <h2 style="color:#95c9ff" class="why_heading">How to use <span class="Simplifiedshare">Simplified Share.</span></h2> <br>
        <p class="how_p"> Scroll down the page and you will find a section to upload your content or files by either draging and dropping your into the drop section or by browseing through your system you can choose the files<br> <br> After selection of file and dropping it into drop section,once the file get uploaded then you will get a link which can be shared with individuals or group of people. Anyone with the link will be able to download the files within 24 hrs, just by clicking on it!! <br><br>Make sure the file uploaded should be less than 100 Mb as the uploaded file should be of maximum 100 Mb. At a time only one file can be uploaded but can be shared with many people!! Happy Sharing!!!
        </p> <br>
        <span class="how_punch">
          <h3 style="color: #ffcf00;">Easy Right!!</h3>
        </span>
      </span>
  </div> -->

  <!-- <div class="swipe">
    <h3 class="s_h">Swipe Below To Drop your file<br> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjU2bW9gMjfmB9fexc4hMgy_CT8ZlgyDuEhmSe6yV-0sOey7JkJ3jb18aJybA1lx3zoL8&usqp=CAU" alt="↓"></h3>
  </div> -->




  <!-- <div class="container">
    <h1 class="introduction">
      The most safest Simplified Shareing site... <br> <span class="heading">File Transfer!!!</span>
    </h1>
    <div class="why_how">

      <div class="why">
        <h2 style="color:#0e3489">Why to use File Transfer?</h2>
        <p class="why_p">In today's generation almost everyone needs to send the files to each other, no matter what so
          ever field anyone works.During sharing files to anyone we need to expose our various private fields like
          either mobile number or E-mail, which makes our privacy to go lenient. Its important to maintain our privacy
          yet accomplishing the task of sharing files to various people. <br>
          <br>Thats why, File Transfer makes it easy for you to keep your privicy safe. it wont let your Mobile Number
          or E-mail to get expose to other people and hence you can remain free from tension of privicy getting expose.
          Remember!!!
        </p>
        <span class="why_p_s">
          <h3>Want Safe Transfer!! <br> Just do <br> File Transfer!!!</h3>
        </span>
      </div>
      
      <div>
        <span class="hover_below">Hover below the image for <br> our motive ↓ </span>
      </div>

      <div class="image">
        <img class="image__img "
          src="https://plan.io/images/blog/what-makes-best-file-sharing-cloud-storage-stand-out.png?1669191150.jpg"
          alt="Hover mee">
        <div class="image__overlay image__overlay--blur">
          <div class="image__title">Sharing is considered <br>as form of caring, <br>also safety of our privicy is what
            <br> we all are craving, <br>
            <p class="image__description"> We take care of <br>your craving,<br> so that you can <br>feel the purity of
              caring.

            </p>
          </div>
        </div>
      </div>

      <div class="how">
        <h2 style="color:#0e3489">How to use File Transfer?</h2>
        <p class="how_p"> First click on the button present on the left side , of the text box!!<br> <br>
          <img src="https://i.pinimg.com/736x/51/f1/6b/51f16b2e14e2a0d4e7e7e05d1f7cda4c.jpg"
            alt="Press the button present on left" class="left_arrow"> <br> <br>
          Then Drag/Drop the files that you want to upload in the window that will appear after clicking on the button.
          You can even browse through your computer and select the files and then you can upload. <br> <br> After
          uploading a link will be generated so, that link can be shared with any one and the one with the link can
          download the contents or file. Even link can be sent through the E-mail and then that particular will be able
          to download the files!!! <br>
        </p>
        <span class="how_p_s">
          <h3>Easy Right!!</h3>
        </span>
      </div>
    </div>
  </div> -->


  <section class="upload-container">
    <div class="dropzone">
      <div class="wrapper">
        <div class="files-icon">
          <img src="/img/file.png" class="left" alt="">
          <img src="/img/file.png" class="center" alt="">
          <img src="/img/file.png" class="right" alt="">
        </div>
        <input type="file" id="fileInput">
        <div class="text">Drop your file here <small>or</small>
          <span role="button" id="fileSelectBtn">Select file</span>
        </div>
      </div>
    </div>
    <!-- <small> <span>FileShare</span> by <a href="https://manojbarman.in" target="_blank">Manoj B</a></small> -->
  </section>
  <section class="uploader-progress-ui">
    <div class="progress-bar">
      <span class="bar">
        <span class="progress" id="progressBar"></span>
      </span>
    </div>
  </section>
  <section class="postupload-ui">
    <div class="wrapper">
      <div class="checkmark check-icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="svg-success" viewBox="0 0 24 24">
          <g stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
            <circle class="success-circle-outline" cx="12" cy="12" r="11.5" />
            <circle class="success-circle-fill" cx="12" cy="12" r="11.5" />
            <polyline class="success-tick" points="17,8.5 9.5,15.5 7,13" />
          </g>
        </svg>
      </div>
      <div class="complete-text will-fade-in check-icon"></div>
      <div class="share-link will-fade-in anim-delay-1">
        <div id="qrcode" class="qr-wrapper">
          <div class="code">
            <img id="qrCodeSrc">
          </div>
          <div class="text">Scan QR code to download file</div>
          <small>OR</small>
        </div>
        <input type="text" id="fileURL" readonly value="Here's the file link">
        <div class="btns">
          <button type="button" title="Copy" class="copy" id="copyURLBtn">
            <span>Copy Link</span>
          </button>
          <button type="button" title="Email" class="mail" id="emailBtn">
            <span>Email Link</span>
          </button>
        </div>
        <button class="Home" onclick="goToHome()"><i class="fa fa-home">  Home</i></button>
      </div>
      <form id="mailForm" method="POST">
        <div class="email-form" id="emailForm">
          <input type="email" autocomplete="off" name="mail_to" id="emailTo" placeholder="Recipient's email" required>
          <input type="email" autocomplete="off" name="mail_from" id="emailFrom" placeholder="Your email" required>
          <div class="btns">
            <button type="submit" id="emailSendBtn"><span>Send</span></button>
            <button type="button" id="goBackBtn" style="background-color: transparent;"><span>Done</span></button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <div class="toast"></div>
  <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
   
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <div class="Contact">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> KLE Technological University,Hubli</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@kletech.ac.in
          </p>
          <p><i class="fas fa-phone me-3"></i> 0836-2378103/105/106</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
  <script src="/js/app.js"></script>

</body>

</html>